# Python bytecode
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/
ENV/

.DS_Store

data/*
output/*

# History
.history

# Environment variables
.env

# Jupyter Notebook files
.ipynb_checkpoints/

# pytest cache
.pytest_cache/

# IDE and text editor settings
.vscode/
.idea/

# FAISS index and cache files
/cache/
faiss_index_hotel/
*.faiss

# Data files (if these are large or sensitive)
*.pkl
*.json
output.json
output.xlsx

# Logs
*.log

# Notes
notes.txt
