alembic==1.14.1
faiss_cpu==1.10.0
fastapi==0.115.11
fugashi==1.4.0
numpy==1.26.4
openai==1.65.5
pandas==2.2.3
pydantic==2.10.6
pydantic_core==2.27.2
pydantic_settings==2.8.1
rich==13.9.4
sentence_transformers==3.4.1
SQLAlchemy==2.0.37
tenacity==9.0.0
tqdm==4.67.1
uvicorn[standard]==0.34.0
psycopg==3.2.5
python-multipart==0.0.20
openpyxl==3.1.5
bcrypt==4.3.0
PyJWT==2.10.1
asyncpg==0.30.0
sentencepiece==0.2.0
unidic==1.1.0
torch==2.2.2
--extra-index-url https://download.pytorch.org/whl/cpu
python-jose==3.4.0
cryptography==44.0.2
transformers==4.49.0
